html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

body {
    margin: 0;
    font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    background-color: #343a40 !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
  }

.bg-dark {
    background-color: #343a40 !important;
}

.bg-dark-obs {
    background-color: #262b30 !important;
  }

.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

hr.divider {
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: #f4623a;
}

.card-elem {
    max-width: 60%;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 10px;
    text-align: center;
    transition: all 0.25s;

  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card img {
    height: 160px;
  }






